<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
   <!-- Popup menu do editor -->
   <extension
         point="org.eclipse.ui.menus"
         id="cideplus.ui.editor.menuMarkFeature">
      <menuContribution
            locationURI="popup:cideplus.FeaturerCompilationUnitEditor.EditorContext?after=additions">
         <menu 
               id="cideplus.editor.features.menu"
               label="Features">
            <dynamic 
                  class="cideplus.ui.editor.popup.MenuContentProvider"
                  id="cideplus.menus.dynamicContentProvider" >
            </dynamic>
         </menu>               
      </menuContribution>
   </extension>
   
   
   <!-- Commands -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Category for commands related to features."
            id="cideplus.commands.featuresCategory"
            name="Features Category"/>
      <command
            id="cideplus.commands.markFeature"
            name="Mark Feature in Editor"
            categoryId= "cideplus.commands.featuresCategory">
         <commandParameter
               id="cideplus.commands.markFeature.featureIdParameter"
               name="Feature ID"
               optional="false">
         </commandParameter>
         <commandParameter
               id="cideplus.commands.markFeature.checkedParameter"
               name="Feature ID"
               optional="false">
         </commandParameter>         
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cideplus.commands.handlers.ToggleFeatureHandler"
            commandId="cideplus.commands.markFeature">
      </handler>
   </extension>
   
   
   
   <!-- Command para configurar features. -->
   <!-- Deve substituir a action definida diretamente no menu. -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="cideplus.commands.category.configureFeatures"
            name="Features Category"/>
      <command
            id="cideplus.commands.configureFeatures"
            name="Configure Features"
            categoryId= "cideplus.commands.category.configureFeatures">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cideplus.commands.handlers.ConfigureFeaturesHandler"
            commandId="cideplus.commands.configureFeatures">
      </handler>
   </extension>  
  
  
	<!-- Popup Menu do package explorer -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="cideplus.contributionConfigureFeatures"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               id="cideplus.menuFeatures"
               label="Features"
               path="additions">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="cideplus.ui.configuration.popup.action.ConfigureFeaturesAction"
               enablesFor="1"
               id="cideplus.cfAction"
               label="Configure Features..."
               menubarPath="cideplus.menuFeatures/group1">
         </action>
        <action
              class="cideplus.automation.ColorDetectionAction"
              icon="icons/view.gif"
              id="vbo.ColorDetection"
              label="Automatic Feature Detection"
              menubarPath="cideplus.menuFeatures/group1">
           </action>
         <action
               class="cideplus.ui.configuration.popup.action.CleanProjectAction"
               enablesFor="1"
               id="cideplus.cleanAction"
               label="Clean Project"
               menubarPath="cideplus.menuFeatures/group2">
         </action>
         <action
               class="cideplus.ui.configuration.popup.action.StatisticsAction"
               enablesFor="1"
               id="cideplus.actionStatitics"
               label="Statitics..."
               menubarPath="cideplus.menuFeatures/group2">
         </action>
         <action
               class="cideplus.ui.export.action.ExportProjectAction"
               enablesFor="1"
               id="cideplus.action.export"
               label="Export Project..."
               menubarPath="cideplus.menuFeatures/group2">
         </action>
         <action
               class="cideplus.ui.configuration.popup.action.RefreshFeaturesAction"
               enablesFor="1"
               id="cideplus.refreshFeatures"
               label="Refresh Features"
               menubarPath="cideplus.menuFeatures/group2">
         </action>         
      </objectContribution>
   </extension>
 
 
	<!-- Marker das features -->
	<extension 
	      point="org.eclipse.core.resources.markers" 
	      id="cideplus.markers.featuresMarker"
	      name="Features Marker">
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <persistent value="true"/>
	   <attribute name="featureId"/>
	</extension> 
 
	<!-- Declaração da annotation p/ mostrar no editor os markers das features -->
	<extension 
			point="org.eclipse.ui.editors.annotationTypes">
		<type
				markerSeverity="0"
				name="cideplus.ui.editor.featureAnnotation"
				markerType="cideplus.markers.featuresMarker">
		</type>
	</extension>	
	
	<!-- Definição da feature annotation -->
	<extension 
			point="org.eclipse.ui.editors.markerAnnotationSpecification"
			id="cideplus.ui.featuresAnnotationSpecification" 
			name="FeaturesAnnotation">
	   <specification 
			annotationType="cideplus.ui.editor.featureAnnotation"
			colorPreferenceKey="cideplus.annotation.colorPreferenceKey"
			colorPreferenceValue="255,0,0"
			textPreferenceKey="cideplus.annotation.textPreferenceKey"
			textPreferenceValue="false"
			highlightPreferenceKey="cideplus.annotation.highlightPreferenceKey"
			highlightPreferenceValue="false"
			textStylePreferenceKey="cideplus.annotation.textStylePreferenceKey"
			textStylePreferenceValue="NONE"
			overviewRulerPreferenceKey="cideplus.annotation.overviewRulerPreferenceKey"
			overviewRulerPreferenceValue="true"
			verticalRulerPreferenceKey="cideplus.annotation.verticalRulerPreferenceKey"
			verticalRulerPreferenceValue="true"
			symbolicIcon="info"
			label="Features Annotation"
			icon="icons/view.gif"
			includeOnPreferencePage="false">
		</specification>
	</extension>

	<!-- AST View -->
     <extension
           point="org.eclipse.ui.views">
        <view
              name="Features ASTView"
              icon="$nl$/icons/view.gif"
              category="org.eclipse.jdt.ui.java"
              class="cideplus.ui.astview.ASTView"
              id="cideplus.ui.astview.ASTView">
        </view>
     </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="ASTView"
            description="Featurer AST View"
            categoryId="org.eclipse.ui.category.views"
            id="cideplus.ui.astview.ASTView">
      </command>
   </extension> 


  <extension
     point="org.eclipse.ui.bindings">
  <key
        sequence="M2+M3+Q A"
        commandId="cideplus.ui.astview.ASTView"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
  </key>
  <key
        platform="carbon"
        sequence="M2+M3+Q A"
        commandId=""
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
  </key>
  <key
        platform="carbon"
        sequence="M1+M3+Q A"
        commandId="cideplus.ui.astview.ASTView"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
  </key>
  </extension>
  
  
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
        <viewShortcut id="cideplus.ui.astview.ASTView"/>
     </perspectiveExtension>
     <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
        <viewShortcut id="cideplus.ui.astview.ASTView"/>
     </perspectiveExtension>
     <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
        <viewShortcut id="cideplus.ui.astview.ASTView"/>
     </perspectiveExtension>
  </extension>
  
  <extension
         id="javaeditor"
         point="org.eclipse.ui.editors">
      <editor
            name="Featurer Java Editor"
            default="true"
            icon="$nl$/icons/jcu_obj.gif"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="cideplus.ui.editor.FeaturerCompilationUnitEditor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
            id="cideplus.FeaturerCompilationUnitEditor"
            extensions="java">
            <!--contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /--> 
      </editor>  
   </extension>
   
<!-- Extension para registrar listener do editor -->   
  <!--extension
        point="org.eclipse.ui.startup">
     <startup
           class="cideplus.PluginStartup">
     </startup>
  </extension-->
   
  <!-- extension para criar uma nova ruler -->
  <!--
  <extension
        point="org.eclipse.ui.workbench.texteditor.rulerColumns">
     <column
           id="cideplus.editor.rulerColumn"
           name="Features New Vertical Ruler"
           class="cideplus.ui.editor.FeaturesRulerColumn"
           enabled="true"
           global="true"
           includeInMenu="true">
        <targetEditor
              id="cideplus.FeaturerCompilationUnitEditor">
        </targetEditor>
        <placement
              gravity="0.5">
		   <before id="org.eclipse.ui.editors.columns.linenumbers"/>
        </placement>
     </column>
  </extension>
  -->
</plugin>
